.nav-logo {
    background: $black;
    .logo {
        img {
            width: 100%;
        }
    }
}
.nav {
    line-height: 50px;
    background: $black;
    a {
        font-size: 1.5rem;
        color: $text-yellow;
    }
}